*{box-sizing: border-box;}
h1,h2,h3,h4,h5,h6{
    color: white;
    font-family: "Lato";
}
.Content-Crud{
    width: 100%;
    height: 600px;
    margin-top: 10%;
z-index: 4;
align-items: center; 
align-content: center;
}

.Title-CRUD{
    color: white;
    align-content: center;
    margin-left: 40%;
    font-size: 30px;
}
.deco{
    width: 80%;
    height: 5px;
    background-color: white;
    margin-left: 10%;
    margin-bottom: 6px
}
.CRUD{
    
    width: 100%;
    height: 100%;
}
.CRUD-Form{
    
    border-radius: 10px;
    padding: 1%;
    align-items: center;
    align-content: center;
    margin-left: 5%;
    width: 90%;
    height: 100%;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.19), 0 6px 6px rgba(255, 255, 255, 0.23);
}

.select-menu{
    width: 300px;
    margin: 2%;
}
.select-menu-container {
    position: absolute;
    z-index: 500;
    top: 130px;
    left: 100px;
  }
  
.select-menu .select-btn{
    display: flex;
    height: 55px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
}
.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: #50597b;
    border-bottom: 4px solid #F48F0F;
    text-decoration: none;
    color: #fff;
}
.option i{
    font-size: 25px;
    margin-right: 12px;
}
.option .option-text{
    font-size: 18px;

}
.arrow-down {
    width: 20px;
    height: 20px;
    transition: 0.3s;
    margin-left: 50px;
  }
  .select-menu.active .select-arrow-down img {
    width: 20px;
    height: 20px;
    transform: rotateY(180deg);
  }

  /*formularios*/
  .Cot-UXUI{
    width: 900px;
    height:600px;
    margin: 3% 5%;
    position: relative;
    align-items: center;
    align-content: center;
    
  }
  .form{
    width: 100%;
    height: 50px;
    max-width: 600px;
    position: relative;
    overflow: hidden;
    margin: 15px;
}
.form input{
    width: 100%;
    height: 100%;
    background: none;
    color: #fff;
    padding-top: 20px;
    border: none;
    outline: 0px;
}
.pregunta h3{
    margin-left: 15px;
}
.pregunta{
    width: 400px;
    height: 100%;
    
}
textarea{
    background: #50597b;
    color: white;
    margin: 15px;
    width: 400px;
    max-height: 200px;
    height: 100px;
    margin-top: auto;
    border: none;
    border-top: #fff;
    font-size: 16px;
    outline: none;
    resize: none;
    border-radius: 5px;  
}
textarea::-webkit-scrollbar{
    width: 12px;
  }
  textarea::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 100px;
  }
  textarea::-webkit-scrollbar-track{
    color: #1E90FF;
  
  }
input[type="text"] {
    width: 400px;
  }
.form .lbl-nombre{
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    pointer-events: none;
    border-bottom: 1px solid #c7c7c7;
}
.form .lbl-nombre:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #2ecece;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
.text-nomb{
    
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: #fff;
}

.form input:focus + .lbl-nombre:after, .form input:valid + .lbl-nombre:after{
    transform: translateX(0%);
}

/*checkbox*/

legend{
    color: white;
    margin: 5px;
}
.text-switch{
    align-items: center;
    align-content: center;
    color: white;
    margin-left: 10px;
}
fieldset{
    border: none;
    margin: 5px;
}
.switch{
    margin: 10px;
    display: inline;
}
.lbl-switch{
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: white;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}
.lbl-switch::after{
   position: absolute;
   content: '';
   width: 28px;
   height: 28px;
   background-color: #2ecece;
   border-radius: 100px;
   top: 1px;
   left: 1px;
   transition: .03s;
}
#btn-appmovil, #btn-pagweb, #btn-software{
    display: none;
}
#btn-appmovil:checked~.lbl-switch, #btn-pagweb:checked~.lbl-switch, #btn-software:checked~.lbl-switch{

background: #2ecece;
}
#btn-appmovil:checked~.lbl-switch::after,#btn-pagweb:checked~.lbl-switch::after, #btn-software:checked~.lbl-switch::after{

    left: 30px;
    background: white;
    }
    
    /*boton guardado*/
.guardar{
    align-items: center;
align-content: center;
display: flex;
justify-content: center;}
.btn-save{
    border: 3px solid #2ecece;
    position:relative;
    padding: 20px 50px;
    text-decoration: none;
    background-color: #222831;
    color: white;
    overflow: hidden;
    border-radius: 10px;
}
.btn-save:hover{
    background-color: #2ecece;
    border: 3px solid white;
}
.btn-save:hover h1{
    color: #222831;
}