@font-face {
    font-family: "Titulos";
    src: url(/CSS/tipografy/Akkurat.ttf) format("truetype");
  }
  
  * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Lato";
    margin: 0;
    background: #222831;
  }
  p{font-family: "lato;"}
  
  h1, h2, h3, h4, h5, h6,a {
    font-family: "Akkurat";
  }
  
  h1 {
    font-size: 23px;
  }
  
  h2 {
    font-size: 17px;
  }
  
  ul {
    margin: 0;
    padding-left: 5px;
  }

  /*menu*/
  .block {
    margin-bottom: 25px;
    background: #282C34;
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  header {
      
    min-height: 70px;
    background-color: #111a1f;
    display: flex;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
    flex-wrap: nowrap;
    
  
  }
  .header-menu-tab {
    display: block;
   
    font-size: 17px;
    transition: .3s;
    padding: 0 15px;
    width: 150px;
  }
  .menu-ico{
    height: 40px;
    width: 40px;
    line-height: 80px;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo a {
    display: inline-block; 
  }
  .logo img {
    height: 50px;
    margin: 5px 20px;
  }
  
  .sublogo-img {
    height: 25px;
    margin: 5%;
    background-color: transparent;
  }
  nav {
    flex: 1;
  }
  
  nav ul {
    max-width: 600px; 
    margin-right: 4%;
  }
  
  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0% 1%; 
    text-align: center;
  }
  
  
  a {
    text-decoration: none;
    font-size: 15px;
    color: white;
  }
  
  nav a {
    font-weight: 600;
    padding: 0 2%;
  }
  
  nav a:hover {
    color: white;
  }
  
  li a.active,
  .header-menu-tab:hover {
    background: #50597b;
    border-bottom: 4px solid #F48F0F;
    text-decoration: none;
  }
  
  .checkbtn {
    font-size: 40px;
    color: white;
    float: left; 
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    margin: 0 5%;
  }
  
  
  #check{display: none;}
  .menu-container {
  
      display: flex;
      align-items: center;
      margin-left: auto;
  
    }
/*olvide contraseña*/

.cont-olvc{
    align-items: center;
    margin-top: 85px;
    height: 605px;
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
}
.present-overlay-olvc{
    background: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    position: absolute;
    width: 50%;
    height: 60%;
    border-radius: 10px;
    margin: 10% 25%;
}
.present-overlay .olvcimg img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0%


}